<ion-header>
  <ion-toolbar>
    <ion-title>p2</ion-title>
    <ion-buttons slot="start" text="Volver" mode="ios">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
<ion-text color="primary" >
  <h1>Página 2</h1>
</ion-text>
<ion-button (click)="onClick()" expand="block" color="primary">
  Saludar
</ion-button>

<ion-button (click)="sumar()" expand="block" color="secondary">
  Sumar 1+1
</ion-button>

<ion-text color="primary">
  <h4>{{resultado}}</h4>
</ion-text>

<ion-button (click)="agregar()" expand="block">
  <ion-icon slot="start" name="add"></ion-icon>
  Agregar 1
</ion-button>

<ion-list *ngFor="let item of lista" >
  <ion-item>
    <ion-label>Elementos {{item}}</ion-label>
  </ion-item>
</ion-list>


<ion-button (click)="mostrarEvento($event)" expand="block" color="warning" id="btnAmarillo">
  Ver clase
</ion-button>


<ion-button (click)="mostrarEvento($event)" expand="block" color="danger" id="btnRojo">
  Ver Evento
</ion-button>

</ion-content>


